
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding-bottom: 50px; 
}

header {
    background-color: #2c3e50;
    padding: 10px 20px; 
    display: flex; 
    align-items: center; 
    

}

img.logo {
    height: 70px; 
    width: auto;
    display: block; 
}

nav#menu-principal ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    text-align: center;
}

nav#menu-principal li {
    display: inline-block;
    margin: 0 15px;
}

nav#menu-principal a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav#menu-principal a:hover {
    color: #e67e22;
}


#menu-lateral {
    position: fixed;
    right: 20px;
    top: 150px;
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

#menu-lateral h3 {
    margin-top: 0;
    font-size: 1em;
    text-align: center;
}

#menu-lateral ul {
    list-style-type: none;
    padding-left: 0;
}

#menu-lateral li {
    margin-bottom: 5px;
}

#menu-lateral a {
    text-decoration: none;
    color: #2980b9;
    font-size: 0.9em;
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 0 20px;
}

h1, h2 { color: #2c3e50; }
section { margin-bottom: 40px; border-bottom: 1px solid #eee; padding-bottom: 20px; }


table { width: 100%; border-collapse: collapse; margin-top: 10px; }
th, td { border: 1px solid #ddd; padding: 10px; text-align: left; }
th { background-color: #34495e; color: white; }


footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}


.texte-rouge { color: red; }